.bg {
  width: 100vw;
  min-height: 100vh;
  // background-image: linear-gradient(to bottom right, #52c41a, rgb(62, 227, 189), #bae637);
  padding-bottom: 20px;
  padding-top: 70px;
  background-image: url(https://labeler.oss-cn-hangzhou.aliyuncs.com/img/bg.png);
  background-repeat: repeat-y;
}

.nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 64px;
  z-index: 10;
}

.nav1{
  font-size: small;
  display: inline-block;
  text-align: center;
  width: 33.33%;
  height: 64px;
  line-height: 64px;
  background-color: #fafafa;
}

.navSelected{
  font-size:30px;
  color: #52c41a;
}


