.bg {
  min-height: 1300px;
  background-image: linear-gradient(to bottom right, #b5f5ec, #d9f7be, #b5f5ec);
  padding-top: 10px;
  padding-bottom: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 50px 0;
}

.list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail {
  width: 80%;
  margin: 50px auto;
}

.address {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  word-break: break-all;
  width: 80%;
}

.btn {
  margin-top: 40px;
  width: 75%;
}

.line {
  margin-bottom: 40px;
  margin-top: 30px;
}
