.line {
  padding: 0px;
  border-style: solid;
  margin-left: 30px;
  width: 15%;
  border-color: #389e0d;
  border-width: 1px;
}

.container0 {
  width: 90%;
  background-color: #d9f7be;
  padding: 50px 0;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title {
  font-size: 48px;
  margin-left: 30px;
  margin-bottom: 20px;
}
