.username {
  flex: 0 0 70%;
  text-align: left;
  color: white;
  margin-left: 1em;
  font-size: 48px;
  letter-spacing: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line {
  padding: 0px;
  border-style: solid;
  width: 70%;
  border-color: white;
  border-width: 1px;
}

.school {
  color: white;
  font-size: 20px;
}

.avatar {
  flex: 0 0 25%;
  border-radius: 50%;
  max-width: 4em;
  max-height: 4em;
  margin-left: 2em;
}

.container0 {
  display: flex;
  margin-top: 10px;
  width: 100%;
  border-style: none;
  border-radius: 20px;
  padding: 50px 0;
  // background-image: linear-gradient(to bottom right, #fcffe6, #feffe6);
  background-image: linear-gradient(to bottom right, #237804, #006d75);
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.icon1 {
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

// .container1 {
//   display: grid;
//   grid-template-rows: 120px 120px;
//   grid-template-columns: auto auto auto auto;
//   grid-column: 1/5;
//   border-radius: 20px;
//   gap: 40px;
//   width: 100%;
//   font-size: 28px;
//   text-align: center;
//   background-color: white;
//   padding: 32px 0;
// }

.container1 {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 50px 0px #135200;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: flex-start;

  View {
    flex: 0 0 33.33%;
    padding: 32px 0 16px 0;
  }

  View:active{
    background-color: lightgray;
    border-radius: 20px;
  }

}


.bg {
  overflow: hidden;
  // background-image: linear-gradient(to bottom right, #52c41a, rgb(62, 227, 189), #bae637);
  // background-image: url(https://labeler.oss-cn-hangzhou.aliyuncs.com/img/bg.png);
  background-image: linear-gradient(to bottom right, #b7eb8f, #73d13d, #87e8de);
 
  width: 100vw;
  height: 100vh;
}
