.username {
  flex: 0 0 70%;
  text-align: left;
  margin-left: 100px;
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line {
  padding: 0px;
  border-style: solid;
  width: 70%;
  border-color: black;
  border-width: 1px;
}

.school {
  color: gray;
  font-size: 32px;
}

.avatar {
  flex: 0 0 25%;
  border-radius: 50%;
  max-width: 128px;
  max-height: 128px;
  margin-left: 30px;
}

.container0 {
  display: flex;
  margin-top: 10px;
  width: 100%;
  border-style: none;
  border-radius: 20px;
  padding: 50px 0;
  background-image: linear-gradient(to bottom right, #fcffe6, #feffe6);
  align-items: center;
}


.icon1 {
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

// .container1 {
//   display: grid;
//   grid-template-rows: 120px 120px;
//   grid-template-columns: auto auto auto auto;
//   grid-column: 1/5;
//   border-radius: 20px;
//   gap: 40px;
//   width: 100%;
//   font-size: 28px;
//   text-align: center;
//   background-color: white;
//   padding: 32px 0;
// }

.container1 {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: white;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: flex-start;

  View {
    flex: 0 0 33.33%;
    margin: 32px 0;
  }

  .order {
    flex: 0 0 50%;
  }

}


.bg {
  overflow: hidden;
  // background-image: linear-gradient(to bottom right, #52c41a, rgb(62, 227, 189), #bae637);
  background-image: url(https://labeler.oss-cn-hangzhou.aliyuncs.com/img/bg.png);
  width: 100vw;
  height: 100vh;
}
