.bg {
    height: 1300px;
    background-image: linear-gradient(to bottom right, #52c41a, rgb(62, 227, 189), #bae637);
}

.text{
  width: 90%;
  margin: 0 auto;
}

.brief{
  margin-top: 50px;
}

.detail{
  margin-top: 30px;
}

.btn{
  width: 50%;
  margin-top: 30px;
}