.at-list__item .item-content__info-title {
  white-space: unset;
  font-size: 0.8rem;
}

.bg {
  background-image: url(https://greenbookstore.oss-cn-hangzhou.aliyuncs.com/img/bg.png);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 20px;
}

.card {
  display: grid;
  background-color: white;
  padding: 30px 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.price {
  margin-top: 2%;
  text-align: right;
  float: right;
  color: #fa541c;
}

.priceint {
  font-size: large;
  font-weight: bold;
}

.pricedecimal {
  font-size: small;
}

.bookpic {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.booktitle{
  font-weight: bold;
  display: inline-block;
  margin-left: 1%;
  margin-top: 2%;
}

.list{
  margin-top: 50px;
}